

<div class="container">
    <h1>Zusammenfassung des Events</h1>

    <div class="mb-4">
        <div class="h5">
            Name:
            <%= event.name %>
        </div>
        <div class="h5">
            Beschreibung:
            <%= event.beschreibung %>
        </div>
        <div class="h5">
            Stadt;
            <%= event.stadt %>
        </div>
        <div class="h5">
            PLZ:
            <%= event.plz %>
        </div>
        <div class="h5">
            Straße:
            <%= event.straße %>
        </div>
        <div class="h5">
            Hausnummer:
            <%= event.hausnummer %>
        </div>
        <div class="h5">
            Datum:
            <%= event.date %>
        </div>
    </div>

    <a class="btn btn-secondary mb-4" href="/category">Zurück</a>
    <a class="btn btn-primary mb-4" href="/event/commit">Event erstellen</a>

</div>

<div class="homepage-columnflex-container">
    
</div>