<div class="create-events-container-stepone">
    <div class="info-container">
        <div class="general-info">
            <div class="block-stepone">
                <b>Name: </b>
                <%= eventname%>
            </div>
            <div class="block-stepone">
                <b>Beschreibung: </b>
                <%= eventbeschreibung%>
            </div>
            <div class="block-stepone">
                <b>Stadt: </b>
                <%= eventstadt%>
            </div>
            <div class="block-stepone">
                <b>PLZ: </b>
                <%= eventplz%>
            </div>
            <div class="block-stepone">
                <b>Straße: </b>
                <%= eventstraße%>
            </div>
            <div class="block-stepone">
                <b>Hausnummer: </b>
                <div><%= eventhausnummer%></div>
            </div>
        </div>
    </div>
    <div class="input-container-stepone">
        <form action="/eventWithImage" method="post" class="create-form" enctype="multipart/form-data">
            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
            <br />
            <div class="checkbox-stepone">
                <label for="private">Mein Event soll privat sein</label>
                <input type="checkbox" class="checkbox" name="private" />
            </div>
            <br />
            <br />
            <label for="category">Such dir eine Kategorie aus falls du möchtest:</label>
            <select type="text" name="category">
                <option value="Sport">Sport</option>
                <option value="Musik">Musik</option>
                <option value="Kultur">Kultur</option>
                <option value="Weiteres">Weiteres</option>
            </select>
            <br />
            <br />
            <p>Lade hier ein Bild hoch:</p>
            <input type="file" class="form-control" name="image" />
            <br />
            <br />
            <button type="submit" class="submit-button">Speichern</button>
    </div>
    </form>
</div>