<div class="overview-container">
  <% events.forEach(function(event){ %>
    <div>
      <div class="overviewName">
        <%= event.name %>
      </div>
      <% if(event.image) { %>
        <div class="overviewImg">
          <img class="overviewPartyImage" src="/images/events/<%= event.image %>" />
        </div>
        <% } %>
          <div class="overviewData">Datum: <%= event.date %>
          </div>
          <div class="overviewData">Ort: <%= event.stadt %>
          </div>
          <br>
          <div class="overviewButtons">
            <form class="overiewForm" action="/event/<%=event.id%>">
              <input class="overviewInput" type="submit" value="Details" name="detail" />
            </form>
          </div>
    </div>
    <% }); %>
</div>