<div class="create-events-container-stepone">
    <div class="info-container">
        <div class="row">
            <div class="col-6"> <b>Name:</b>
            </div>
            <div class="col-6">
                <%= eventname %>
            </div>
        </div>
        <div class="row">
            <div class="col-6"> <b>Beschreibung:</b>
            </div>
            <div class="col-6">
                <%= eventbeschreibung%>
            </div>
        </div>
        <div class="row">
            <div class="col-6"> <b>Stadt:</b>
            </div>
            <div class="col-6">
                <%= eventname %>
            </div>
        </div>
        <div class="row">
            <div class="col-6"> <b>PLZ:</b>
            </div>
            <div class="col-6">
                <%= eventplz%>
            </div>
        </div>
        <div class="row">
            <div class="col-6"> <b>Straße:</b>
            </div>
            <div class="col-6">
                <%= eventstraße%>
            </div>
        </div>
        <div class="row">
            <div class="col-6"> <b>Hausnummer:</b>
            </div>
            <div class="col-6">
                <%= eventhausnummer%>
            </div>
        </div>
    </div>
    <div class="input-container-stepone">
        <form action="/eventWithImage" method="post" class="create-form" enctype="multipart/form-data">
            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
            <br />
            <div class="checkbox-stepone">
                <label for="private"><b>Mein Event soll privat sein</b></label>
                <input type="checkbox" class="checkbox" name="private" />
            </div>
            <br />
            <br />
            <div class="stepone-category">
                <label for="category"> <b>Wähle eine Kategorie für dein Event aus:</b></label>
                <select type="text" name="category">
                    <option value="Sport">Sport</option>
                    <option value="Musik">Musik</option>
                    <option value="Kultur">Kultur</option>
                    <option value="Weiteres">Weiteres</option>
                </select>
            </div>
            <br />
            <br />
            <div class="stepone-picture">
                <input type="file" class="form-control" name="image" required />
                <br />
                <br />
            </div>
            <button type="submit" class="submit-button">Speichern</button>
    </div>
    </form>
</div>