<div class="event-overview">
    <div class="m-4">
      <h1 class="text-4xl font-sans text-gray-500 font-light">
        Details zu Ihrem Event
      </h1>
      <div>
        <div class="row">
          <div class="col-6">Name:</div>
          <div class="col-6"><%= event.name %></div>
        </div>
        <div class="row">
          <div class="col-6">Beschreibung:</div>
          <div class="col-6"><%= event.beschreibung %></div>
        </div>
        <div class="row">
          <div class="col-6">Stadt:</div>
          <div class="col-6"><%=event.stadt %></div>
        </div>
        <div class="row">
          <div class="col-6">PLZ:</div>
          <div class="col-6"><%=event.plz %></div>
        </div>
        <div class="row">
          <div class="col-6">Straße<embed src="" type="" />:</div>
          <div class="col-6"><%=event.straße %></div>
        </div>
        <div class="row">
          <div class="col-6">Hausnummer:</div>
          <div class="col-6"><%=event.hausnummer %></div>
        </div>
        <div class="row">
          <div class="col-6">Datum:</div>
          <div class="col-6"><%=event.date %></div>
        </div>
        <div class="row">
          <div class="col-6">Stadt:</div>
          <div class="col-6"><%=event.stadt %></div>
        </div>
  
        <div class="row">
          <div class="col-6">private:</div>
          <div class="col-6"><%=event.private %></div>
        </div>
        <div class="row">
          <div class="col-6">User:</div>
          <div class="col-6"><%=event.owner %></div>
        </div>
        <div class="row">
          <div class="col-6">Kategorie:</div>
          <div class="col-6"><%=event.category %></div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="homepage-columnflex-container"></div>
  